.find-hotel {
  text-align: center;
  padding: 0 20px 0 20px;
  padding-top: 1px;
}

.find-hotel__find-hotel-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 20px;
}

.find-hotel__find-hotel-text {
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.find-hotel__find-hotel-btn {
  text-decoration: none;
  display: block;
  width: 280px;
  height: 58px;
  background-color: $secondary-background;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 58px;
  color: $alternative-text-color;
  text-transform: uppercase;
  margin-bottom: 49px;
  transition-duration: 0.3s;
}

.find-hotel__find-hotel-btn:hover {
  background-color: #669ec0;
}

.find-hotel__find-hotel-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}

@media #{$tablet-widths} {
  .find-hotel__find-hotel-title {
    font-size:30px;
    line-height: 26px;
    margin-top: 55px;
    margin-bottom: 29px;

  }
  .find-hotel__find-hotel-text {
    margin-bottom: 42px;
    padding: 0 160px;
  }

  .find-hotel__find-hotel-btn {
    width: 458px;
    height: 58px;
    margin: 0 auto 59px auto;
  }
}
@media #{$desktop-widths} {
  .find-hotel__find-hotel-text {
    padding: 0 367px;
    margin-bottom: 46px;
  }

  .find-hotel__find-hotel-btn {
    width: 458px;
    height: 58px;
    margin: 0 auto 67px auto;
  }
}
