.main-nav {
  @include outline(1px, solid, red);
  @include container;
  background-color: $secondary-background;
}

.main-nav__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-nav__item a {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 40px;
  color: $alternative-text-color;
  text-transform: uppercase;
  text-decoration: none;
}

@media #{$tablet-widths} {
  .main-nav__item {
  display: inline-block;
  vertical-align: top;
}
  .main-nav {
    background-color: $alternative-text-color;
  }
  .main-nav__item a {
    font-size: 14px;
    line-height: 26px;
    font-family: $font-bold;
    color: $base-text-color;
  }
}
