.main-form {
  padding: 0 20px 0 20px;
  @include clearfix;
}

.main-form__title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-text-color;
  text-transform: uppercase;
}
.main-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form__textarea {
  width: 280px;
}

@media #{$tablet-widths} {
  .main-form {
    padding: 0 60px 0 60px;
  }
  .main-form__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .main-form__name-wrapper {
    width: 324px;
  }
  .main-form__impression-wrapper {

    width: 324px;
    order:-1;
  }

  .main-form__contacts-wrapper {
    width: 650px;
  }

  .main-form__sights-wrapper {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .main-form__textarea {
  width: 648px;
  }

}

@media #{$desktop-widths} {
  .main-form {
    padding: 0 120px 0 120px;
  }

  .main-form__contacts-wrapper {
  width: 962px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .main-form__sights-wrapper {
  width: 962px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .main-form__textarea {
  width: 960px;
  }

}
