.main-header {
  @include container;
  @include outline(1px, solid, red);
}

.main-header__main-logo {
  display: block;
  height: 389px;
  background: url("../img/bg-back-mobile@1x.jpg") top center no-repeat;
}

.main-header__visually-hidden {
  display: none;
}

@media #{$tablet-widths} {

}

@media #{$desktop-widths} {

}
