.main-content {
  @include outline(1px, solid, red);
  @include container;
  padding-top: 1px;

}

.main-content__main-title {
  margin-top: 40px;
  margin-bottom: 24px;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 26px;
  color: $base-text-color;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 0 20px;
}

.main-content__main-text {
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  color: $secondary-text-color;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 0 20px;
  margin-bottom: 27px;
}

@media #{$tablet-widths} {
  .main-content__main-title {
    margin-top: 51px;
    margin-bottom: 30px;
    padding: 0 60px 0 60px;
    font-size: 22px;
    line-height: 24px;
  }
  .main-content__main-text {
    padding: 0 60px 0 60px;
  }
}

@media #{$desktop-widths} {
  .main-content__main-title {
    padding: 0 300px;
  }
  .main-content__main-text {
    padding: 0;
  }
}
