.main-nav {
  @include container;
}

.main-nav {
  display: none;
}

.main-nav--show {
  display: block;
}

.main-nav__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
}

.main-nav__item a {
  display: block;
  width: 320px;
  height: 55px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 55px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  text-align: center;
  border-bottom: 1px solid #678fa8;
  border-top:1px solid #9ac2db;
  box-sizing: border-box;
}

.main-nav__item a:hover {
    background-color: #669ec0;
    border-bottom: 1px solid #669ec0;
    border-top:1px solid #669ec0;
}

.main-nav__item a:active {
  background-color: #5496bd;
  color: #88b6d1;
  border-bottom: 1px solid #5496bd;
  border-top:1px solid #5496bd;
}

.main-nav__item--active a:hover {
  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top:1px solid #9ac2db;
}

.main-nav__item--active a:active {
   color: #ffffff;
}

.main-nav__item:last-child a {
  border-bottom: none;
}

.main-nav__close-btn {
  position: absolute;
  content: '';
  top: 16px;
  right: 19px;
  fill:$base-background;
  cursor: pointer;
}

.main-nav__item:first-child a {
  border-top:none;
}

//TAB
@media #{$tablet-widths} {
  .main-nav {
    display: block;
  }


  .main-nav__items {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__sedona-icon {
    position: absolute;
    content: '';
    width: 102px;
    height: 83px;
    top: 0px;
    left: 333px;
    z-index: 1;
  }

  .main-nav__sedona-icon a {
    display: block;
    width: 102px;
    height: 83px;
    background: url("../img/logo-sedona-tablet.svg") 0 0 no-repeat;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 156px;
  }

  .main-nav__item a {
  display: block;
  width: 153px;
  height: 56px;
  font-family: $font-bold;
  font-size: 14px;
  line-height: 56px;
  color: $base-text-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-background;
  text-align: center;
  border: none;
  font-weight: bold;
  }

  .main-nav__item a:hover {
    border: none;
    background-color: $base-background;
    color: #81b3d2;
  }

  .main-nav__item a:active {
    color: #b2b2b2;
  }


  .main-nav__item--active a {
    color: #766357;
  }

  .main-nav__item--active a:hover {
    color: #604e43;
  }

  .main-nav__item--active a:active {
    color: #d6d0cc;
  }

  .main-nav {
    background-color: $alternative-text-color;
  }

  .main-nav__close-btn {
    display: none;
  }
}

@media #{$desktop-widths} {
   .main-nav__sedona-icon {
    position: absolute;
    content: '';
    width: 188px;
    height: 96px;
    top: 0px;
    left: 507px;
    z-index: 1;
  }

  .main-nav__sedona-icon a {
    display: block;
    width: 188px;
    height: 96px;
    background: url("../img/logo-sedona-desktop.svg") 0 0 no-repeat;
  }

  .main-nav__items {
    width: 1200px;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 244px;
  }

  .main-nav__item a {
    width: 239px;
  }
}
