.main-form {
  @include clearfix;
}

.main-form__title {
  text-align: center;
}

.main-form__title h2 {
  position: relative;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-text-color;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.main-form__title--short {
  display: none;
}

.main-form__label-tel--short {
  display: none;
}

.main-form label {
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.main-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//NAME
.main-form__name-wrapper {
    border-top: 1px solid #e5e5e5;
    width: 280px;
    padding: 18px 20px 0 20px;
    margin-bottom: 3px;
}

.main-form__name-wrapper .main-form__title {
  margin-bottom: 22px;
}

.main-form input[type="text"] {
  padding-left: 23px;
  border: none;
  height: 58px;
  background-color: #f2f2f2;
  margin-bottom: 21px;
  box-sizing: border-box;
}

input[type="text"]::-webkit-input-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
input[type="text"]::-moz-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder  {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}

.main-form input[type="text"]:hover {
  background-color: #e5e5e5;
}

.main-form input[type="text"]:focus {
  border:4px solid #e5e5e5;
   padding-left: 19px;
}

.main-form__label-name {
  margin-right: 11px;
}

.main-form__label-surname {
  margin-right: 12px;
}

.main-form__label-second-name {
  margin-right: 11px;
}

.main-form__input-name {
  width: 232px;
}

.main-form__input-surname {
  width: 194px;
}

.main-form__input-second-name {
  width: 195px;
}

//CONTACTS
.main-form__contacts-wrapper {
  border-top: 1px solid #e5e5e5;
  padding: 18px 20px 0 20px;
  margin-bottom: 31px;
}

.main-form__contacts-wrapper .main-form__title {
  margin-bottom: 18px;
}

.main-form__contacts-wrapper .main-form__wrapper {
  position: relative;
}

.main-form__input-tel--alt {
  display: none;
}

.main-form__input-tel {
  padding: 0;
  padding-left: 21px;
  margin-top: 7px;
  margin-bottom: 42px;
  width: 259px;
  height: 58px;
  border: 0;
  background-color: $input-background;
  box-sizing: border-box;
}

input[type="tel"]::-webkit-input-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
.main-form input[type="tel"]::-moz-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
.main-form input[type="tel"]:-ms-input-placeholder  {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}

.main-form__input-tel:focus {
  border:4px solid #e5e5e5;
  padding-left: 17px;
}



.main-form__label-tel {
  position: relative;
  margin-left: 22px;
}

.main-form__label-tel::before {
  content: '';
  position: absolute;
  width: 58px;
  height: 58px;
  top: 29px;
  left: 200px;
  background: #e6e6e6 url("../img/icon-phone.svg") center no-repeat;
}

.main-form__warning {
  position: absolute;
  display: inline;
  top: 97px;
  left: 22px;
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  color: #ff5c5c;
}

.main-form__input-email {
  padding: 0;
  padding-left: 21px;
  margin-top: 7px;
  width: 259px;
  height: 58px;
  border: 0;
  background-color: $input-background;
  box-sizing: border-box;
}

input[type="email"]::-webkit-input-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
.main-form input[type="email"]::-moz-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
.main-form input[type="email"]:-ms-input-placeholder  {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}

.main-form__input-email:focus {
  border:4px solid #e5e5e5;
  padding-left: 17px;
}

.main-form__label-email {
  position: relative;
  margin-left: 22px;
}

.main-form__label-email::before {
  content: '';
  position: absolute;
  width: 58px;
  height: 58px;
  top: 29px;
  left: 200px;
  background: #e6e6e6 url("../img/icon-mail.svg") center no-repeat;
}

//IMPRESSIONS
.main-form__impression-wrapper {
    width: 280px;
    padding: 18px 20px 0 20px;

    border-top: 1px solid #e5e5e5;
}

.main-form__impression-wrapper label {
  position: relative;
  display: block;
  width: 201px;
  height: 55px;
  margin-left: 0;
  padding-left: 79px;
  font-size: 18px;
  text-transform: none;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 14px;
  cursor: pointer;
}

.main-form__impression-wrapper .main-form__title {
  margin-bottom: 36px;
}

.main-form__impression-wrapper input {
  display: none;
}

//custom radio buttons
.main-form__impression-wrapper input[type="radio"] + label::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 16px solid #f2f2f2;
  top: -10px;
  left: 1px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.main-form__impression-wrapper input[type="radio"]:checked + label::before {
  background-color: #333333;
}

.main-form__impression-wrapper input[type="radio"] + label:hover::before {
  border: 16px solid  #e5e5e5;
  background-color: #e5e5e5;
}

.main-form__impression-wrapper input[type="radio"] + label:active::before {
  background-color: #d5d5d5;
  border: 16px solid  #d5d5d5;
}

.main-form__impression-wrapper input[type="radio"]:checked + label:hover::before {
  border: 16px solid  #e5e5e5;
  background-color: #333333;
}

.main-form__impression-wrapper input[type="radio"]:checked + label:active::before {
  border: 16px solid  #d5d5d5;
  background-color: #a4a4a4;
}


//SIGHTS
.main-form__sights-wrapper {
    width: 280px;
    padding: 18px 20px 0 20px;
    margin-bottom: 11px;
    border-top: 1px solid #e5e5e5;
}

.main-form__sights-wrapper .main-form__title {
  margin-bottom: 31px;
}

.main-form__checkbox-wrapper label {
  position: relative;
  display: block;
  width: 201px;
  height: 56px;
  margin-left: 0;
  padding-left: 78px;
  font-size: 18px;
  text-transform: none;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 24px;
}

.main-form__sights-wrapper label:last-child {
  margin-bottom: 0;
}

.main-form__sights-wrapper input {
  display:none;
}
//custom checkbox
.main-form__sights-wrapper input + label::before {
  position: absolute;
  content: '';
  width: 56px;
  height: 56px;
  top: -13px;
  left: 1px;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.main-form__sights-wrapper input + label:hover::before {
  background-color: #e5e5e5;
}

.main-form__sights-wrapper input + label:active::before {
  background-color: #d5d5d5;
}

.main-form__sights-wrapper input:checked + label::before {
  position: absolute;
  content: '';
  width: 56px;
  height: 56px;
  top: -13px;
  left: 1px;
  background: #f2f2f2 url("../img/icon-tick.svg") center no-repeat;
}

.main-form__sights-wrapper input:checked + label:hover::before {
  background-color: #e5e5e5;
}

.main-form__sights-wrapper input:checked + label:active::before {
  background: #d5d5d5 url("../img/icon-tick-active.svg") center no-repeat;
}



//EMOTION

.main-form__emotion-wrapper {
    width: 280px;
    padding: 18px 20px 0 20px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 50px;
}

.main-form__emotion-wrapper .main-form__title {
  margin-bottom: 18px;
}

.main-form__textarea {
  padding: 0;
  border: none;
  resize: none;
  background-color: $input-background;
  width: 260px;
  height: 143px;
  padding: 16px 0 0 20px;
}

textarea::-webkit-input-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
textarea::-moz-placeholder {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}
textarea:-ms-input-placeholder  {
  font-family: $font-bold;
  font-size: 18px;
  color: #000000;
  opacity: 1;
}

//SUBMIT-BUTTON

.main-form__submit-btn {
  width: 280px;
  height: 58px;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 26px;
  color: $alternative-text-color;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $secondary-background;
  border: none;
  cursor: pointer;
}

.main-form__submit-btn:hover {
  background-color: #669ec0;
}

.main-form__submit-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.required-note {
  display: none;
}


//ОКНО ОШИБКИ
.main-form__failure {
  display: none;
  width: 400px;
  height: 347px;
  background-color: $base-background;
  padding-top: 1px;
  box-shadow: 0 0 10px 1px lightgray;
}

.main-form__failure-title {
  font-family: $font-bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $base-text-color;
  padding: 0 79px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 22px;
}

.main-form__failure-text {
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-text-color;
  margin-bottom: 34px;
  padding: 0 61px;
  text-align: center;
}

.main-form__failure-button {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 272px;
  height: 58px;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: $secondary-background;
  color: $alternative-text-color;
  margin: 0 auto;
  cursor: pointer;
}

.main-form__failure-button:hover {
  background-color: #669ec0;
}

.main-form__failure-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.modal-form__failure-show {
  display: block;
}

//ОКНО УСПЕШНОЙ ОТПРАВКИ
.modal-form__success {
  display: none;
  position: fixed;
  left: 50%;
  top: 300px;
  width: 640px;
  height: 347px;
  background-color: $base-background;
  box-shadow: 0 0 10px 1px lightgray;
  padding-top: 1px;
  z-index: 99;
}

.main-form__success-title {
  font-family: $font-bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $base-text-color;
  padding: 0 79px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 22px;
}

.main-form__success-text {
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-text-color;
  margin-bottom: 34px;
  padding: 0 61px;
  text-align: center;
}

.main-form__success-button-wrapper {
  width: 640px;
  height: 146px;
  background-color: $input-background;
  padding-top: 1px;
}

.main-form__success-button {
  display: block;
  margin: 43px auto;
  padding: 0;
  border: none;
  width: 458px;
  height: 58px;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: $secondary-background;
  color: $alternative-text-color;
  cursor: pointer;
}

.main-form__success-button:hover {
  background-color: #669ec0;
}

.main-form__success-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.modal-form__success-show {
  display: block;
}



//TAB VERSION!!!
@media #{$tablet-widths} {
  .main-form {
    padding: 0 60px 0 60px;
  }

  .main-form__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .main-form__title h2 {
    font-size: 21px;
    line-height: 26px;
  }

//IMPRESSION  TAB
  .main-form__impression-wrapper {
    padding: 0;
    border-top: none;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    width: 324px;
    order:-1;
  }

  .main-form__impression-wrapper h2 {
    text-align: left;
  }

  .main-form__impression-wrapper .main-form__title {
    font-size: 21px;
    margin-bottom: 72px;
    text-align: left;
  }

  .main-form__impression-wrapper label {
    padding-left: 75px;
    margin-bottom: 23px;
  }

//NAME TAB
   .main-form__name-wrapper {
    padding: 0;
    border-top: none;
    width: 267px;
    padding-left: 57px;
  }

  .main-form__name-wrapper h2 {
    text-align: left;
  }


  .main-form__name-wrapper .main-form__title {
    display: none;
  }

  .main-form__name-wrapper .main-form__title--short {
    font-family: $font-bold;
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 57px;
  }

  .main-form__input-name {
    width: 219px;
  }

  .main-form__input-surname {
    width: 181px;
  }

  .main-form__input-second-name {
    width: 182px;
  }

  //CONTACTS TAB
  .main-form__contacts-wrapper {
    width: 650px;
    padding: 0;
    border-top: none;
    margin-bottom: 0;
    margin-bottom: 52px;
  }

  .main-form__contacts-wrapper .main-form__title {
    margin-top: 34px;
    margin-bottom: 23px;
  }

  .main-form__contacts-wrapper h2 {
    position: relative;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 0 63px;
    z-index: 2;
  }

  .main-form__contacts-wrapper .main-form__title::after {
    content: "";
    position: relative;
    top: -13px;
    display: block;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
  }

  .main-form__warning {
    left: 457px;
    top: 0px;
  }

  .main-form__input-tel {
    width: 648px;
    margin-bottom: 23px;
  }

  .main-form__label-tel::before {
    left: 568px;
  }

  .main-form__input-email {
    width: 648px;
  }

  .main-form__label-email::before {
    left: 568px;
  }

  .main-form__label-tel {
    display: inline;
  }

  .main-form__label-tel--short {
    display: none;
  }

//SIGHTS TAB
  .main-form__sights-wrapper {
    width: 650px;
    border-top: none;
    padding: 0;
    margin-bottom: 37px;
  }

  .main-form__sights-wrapper .main-form__title {
    margin-bottom: 41px;
  }

  .main-form__sights-wrapper h2 {
    display: inline-block;
    z-index: 2;
    background-color: white;
    padding: 0px 61px;
    width: 283px;
  }

  .main-form__sights-wrapper .main-form__title::after {
    content: "";
    position: relative;
    top: -27px;
    display: block;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
  }

  .main-form__sights-wrapper .main-form__checkbox-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 656px;
  }

  .main-form__checkbox-wrapper label {
    display: inline-block;
    width: 154px;
    margin-bottom: 32px;
    line-height: 56px;
    text-align: left;
    padding-left: 106px;
  }

  .main-form__sights-wrapper input + label::before {
    top: 3px;
    left: 28px;
  }

  .main-form__sights-wrapper input:checked + label::before {
    top: 3px;
    left: 28px;
  }



  .main-form__label-radio3 {
    order: 1;
  }

  .main-form__label-radio2 {
    order: 2;
    margin-left: 0;
  }

  .main-form__label-radio4 {
    margin-left: 0;
    order: 3;
  }

//EMOTION TAB
  .main-form__emotion-wrapper {
    border-top: none;
    padding: 0;
    width: 648px;
    margin-bottom: 60px;
  }
  .main-form__emotion-wrapper .main-form__title {
    margin-bottom: 56px;
  }

  .main-form__emotion-wrapper .main-form__title::after {
    content: "";
    position: relative;
    top: -14px;
    display: block;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
  }

  .main-form__emotion-wrapper h2 {
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    z-index: 2;
    padding: 0px 74px;
  }

  .main-form__textarea {
    width: 629px;
  }

  .main-form__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
  }

  .main-form__submit-btn {
    width: 325px;
    height: 58px;
    font-family: "PT Sans Bold", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    padding: 0;
    margin-right: 165px;
    margin-bottom: 94px;
  }
  .required-note {
    display: block;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 17px;
  }
}

@media #{$desktop-widths} {
  .main-form {
    padding: 0 120px 0 120px;
  }

//IMPRESSION DESK
  .main-form__name-wrapper .main-form__title-short {
    display: none;
  }

  .main-form__impression-wrapper  {
    width: 480px;
    padding-left: 3px;
  }

  .main-form__impression-wrapper .main-form__title {
    padding-left: 79px;
  }

  .main-form__impression-wrapper label {
    padding-left: 79px;
  }

//NAME DESK
  .main-form__name-wrapper {
    width: 400px;
    padding-left: 80px;
  }

  .main-form__name-wrapper .main-form__title {
    font-family: $font-bold;
    font-size: 21px;
    display: block;
    text-align: left;
    margin-bottom: 57px;
  }

  .main-form input[type="text"] {
    margin-bottom: 19px;
  }

  .main-form__input-name {
    width: 352px;
  }

  .main-form__input-surname {
    width: 314px;
  }

  .main-form__input-second-name {
    width: 315px;
  }

  .main-form__name-wrapper .main-form__title--short {
    display: none;
  }

//CONTACTS DESK
  .main-form__contacts-wrapper {
    width: 960px;
    margin-bottom: 28px;
  }

  .main-form__contacts-wrapper .main-form__title {
    margin-top: 32px;
    margin-bottom: 68px;
  }

  .main-form__contacts-wrapper .main-form__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  }

  .main-form__warning {
    top: -27px;
    left: 106px;
  }

  .main-form__label-tel {
    display: none;
  }

  .main-form__label-tel--short {
    position: relative;
    display: inline;
    margin-right: 23px;
  }

  .main-form__label-tel--short::before {
    content: '';
    position: absolute;
    width: 58px;
    height: 58px;
    top: -16px;
    left: 344px;
    background: #e6e6e6 url("../img/icon-phone.svg") center no-repeat;
  }

  .main-form__input-tel {
    display: none;
  }

  .main-form__input-tel--alt {
    display: inline;
  }

  .main-form__input-tel {
    width: 315px;
    margin-right: 80px;
  }



  .main-form__label-email {
    margin-right: 21px;
    margin-left: 0;
  }

  .main-form__label-email::before {
    top: -16px;
    left: 420px;
  }

  .main-form__input-email {
    width: 315px
  }
//SIGHTS DESK
  .main-form__sights-wrapper {
  width: 960px;
  margin-bottom: 35px;
  }

  .main-form__sights-wrapper .main-form__title {

  }

  .main-form__sights-wrapper .main-form__checkbox-wrapper {
    justify-content: left;
    width: 960px;
  }

  .main-form__checkbox-wrapper label {
    margin-right: 146px;
    width: auto;
    padding: 0
  }

  .main-form__checkbox-wrapper .main-form__label-radio1 {
    margin-left: 80px;
  }

  .main-form__sights-wrapper label:last-child {
    margin-right: 0;
  }

  .main-form__sights-wrapper input + label::before {
    left: -78px;
  }

  .main-form__sights-wrapper input:checked + label::before {
    left: -78px;
  }


  //EMOTION DESK

  .main-form__emotion-wrapper {
    width: 960px;
    margin-bottom: 57px;
  }
  .main-form__emotion-wrapper .main-form__title {
    width: 960px;
  }

  .main-form__textarea {
    width: 942px;
    height: 145px;
  }

  //SUBMIT DESK
  .main-form__submit-wrapper {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 102px;
  }

  .main-form__submit-btn {
    width: 480px;
    margin: 0;
  }
}
