.main-header {
  @include container;
  @include outline(1px, solid, red);
}

.main-header__main-logo {
  display: block;
  min-height: 389px;
  background: url("../img/mobile-logo-bg.jpg") top center no-repeat;
}

.main-header__visually-hidden {
  display: none;
}

@media #{$tablet-widths} {
  .main-header__main-logo {
    min-height: 518px;
    background: url("../img/tablet-logo-bg.jpg") top center no-repeat;
  }
}

@media #{$desktop-widths} {
   .main-header__main-logo {
    min-height: 357px;
    background: url("../img/desktop-logo-bg.jpg") top center no-repeat;
  }
}
