.photo {
  font-size: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__photo-item {
  width: 320px;
  border-bottom: 1px solid #e5e5e5;
  padding: 22px 0 0 0;
}

.photo__photo-item:nth-child(1) {
  border-top:1px solid #e5e5e5;
}

.photo__photo-img {
  display: block;
  width: 280px;
  height: 280px;
  padding: 0 20px;
}

.photo__photo-item:nth-child(1) .photo__photo-img  {
  background: #fff url(../img/photo-1-mobile@1x.jpg) top center no-repeat;
}

.photo__photo-item:nth-child(2) .photo__photo-img {
  background: #fff url(../img/photo-2-mobile@1x.jpg) top center no-repeat;
}

.photo__photo-item:nth-child(3) .photo__photo-img {
  background: #fff url(../img/photo-3-mobile@1x.jpg) top center no-repeat;
}

.photo__photo-item:nth-child(4) .photo__photo-img {
  background: #fff url(../img/photo-4-mobile@1x.jpg) top center no-repeat;
}

.photo__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  margin-top: 15px;
}

.photo__photo-title {
  display: block;
  font-family: $font-bold;
  font-size: 14px;
  line-height: 24px;
  color: $base-text-color;
  text-transform: uppercase;
}

.photo__photo-author {
  display: block;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $base-text-color;
  margin-bottom: 8px;
}

.photo__photo-like {
  position: relative;
  display: block;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-weight: bold;
  color: $base-text-color;
  text-transform: uppercase;
  padding-left: 35px;
  margin-bottom: 17px;
}

.photo__icon-like {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 0px;
  left: 0px;
  fill: #b2b2b2;
}

@media #{$tablet-widths} {
  .photo {
  padding: 41px 60px 0 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  }

  .photo__photo-item {
    padding: 0;
    border:none;
  }

  .photo__photo-item:nth-child(1) {
    width: 648px;
    border-top:none;
  }

  .photo__photo-title  {
    margin-top: 17px;
  }

  .photo__photo-author  {
    margin-bottom: 15px;
  }

  .photo__photo-item:nth-child(n+2) {
    display: inline-block;
    vertical-align: top;
    width: 324px;
  }

  .photo__photo-img {
    padding: 0;
  }

  .photo__photo-item:nth-child(1) .photo__photo-img  {
    width: 648px;
    height: 400px;
    background: url(../img/photo-1-tablet.jpg) top center no-repeat;
  }

  .photo__photo-item:nth-child(2) .photo__photo-img {
    width: 324px;
    height: 267px;
    background: url(../img/photo-2-tablet.jpg) top center no-repeat;
    }

  .photo__photo-item:nth-child(3) .photo__photo-img {
    width: 324px;
    height: 267px;
    background: url(../img/photo-3-tablet.jpg) top center no-repeat;
    }

  .photo__photo-item:nth-child(4) .photo__photo-img {
    width: 324px;
    height: 267px;
    background: url(../img/photo-4-tablet.jpg) top center no-repeat;
  }

  .photo__info {
    position: relative;
    background-color: #f2f2f2;
    margin: 0;
  }

  .photo__photo-item:nth-child(3) .photo__info{
    background-color: #eaeaea;
  }

  .photo__photo-like {
    position: absolute;
    width: 31px;
    right: 23px;
    bottom: 26px;
    margin: 0;
  }

  .photo__icon-like {
    left: 4px;
  }
}

@media #{$desktop-widths} {
  .photo {
  padding: 0;
  }

  .photo__photo-item {
    position: relative;
  }

  .photo__info {
    position: absolute;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0, .3);
    color:$alternative-text-color;
  }

  .photo__photo-like {
    color: $alternative-text-color;
  }

  .photo__photo-author {
    color: $alternative-text-color;
  }

  .photo__photo-title {
    color: $alternative-text-color;
  }

  .photo__photo-item:nth-child(1) {
    width: 1200px;
    min-height: 400px;
  }

  .photo__photo-item:nth-child(1) .photo__info {
    width: 1160px;
    top: 319px;
    left: 0px;
  }

  .photo__photo-item:nth-child(n+2) .photo__info {
    width: 360px;
    top: 187px;
    left: 0px;
  }

  .photo__photo-item:nth-child(3) .photo__info{
    background-color: rgba(0,0,0, .3);
  }

  .photo__photo-item:nth-child(n+2) {
    width: 400px;
    min-height: 267px;
  }

  .photo__photo-item:nth-child(1) .photo__photo-img  {
    width: 1200px;
    height: 400px;
    background: url(../img/photo-1-desktop.jpg) top center no-repeat;
  }

  .photo__photo-item:nth-child(2) .photo__photo-img {
    width: 400px;
    height: 267px;
    background: url(../img/photo-2-desktop.jpg) top center no-repeat;
    }

  .photo__photo-item:nth-child(3) .photo__photo-img {
    width: 400px;
    height: 267px;
    background: url(../img/photo-3-desktop.jpg) top center no-repeat;
    }

  .photo__photo-item:nth-child(4) .photo__photo-img {
    width: 400px;
    height: 267px;
    background: url(../img/photo-4-desktop.jpg) top center no-repeat;
  }
}
