.video {
  @include container;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;

}

.video__video-title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-text-color;
  text-transform: uppercase;
  padding: 0 20px;
  margin-top: 33px;
  margin-bottom: 26px;
}

.video__video-text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  padding: 0 36px 0 39px;
  margin-bottom: 35px;

}

.video__video-player__wrapper {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  height: 201px;
  margin-bottom: 66px;
  background: url(../img/video-mobile@1x.jpg) 0 0 no-repeat;
}

.video__time-line {
  width: 280px;
  height: 45px;
  background-color: rgba(83, 79, 76, .6);
}

.video__video-player__control-panel {
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
}

@media #{$tablet-widths} {
  .video {
    margin-bottom: 0;
  }

  .video__video-player__wrapper {
  width: 648px;
  height: 499px;
  background: url(../img/video-tablet.jpg) top center no-repeat;
  padding: 0 60px;
  margin-bottom: 77px;
  }

  .video__video-title {
    font-size: 30px;
    line-height: 26px;
    padding: 0 60px;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 30px;
  }

  .video__video-text {
    padding: 0 163px;
    text-align: center;
    margin-bottom: 73px;
  }
}

@media #{$desktop-widths} {
  .video__video-player__wrapper {
  width: 800px;
  height: 500px;
  background: url(../img/video-desktop.jpg) top center no-repeat;
  padding: 0 200px;
  margin-bottom: 119px;
  }
  .video__video-title {
    padding: 0 186px 0 186px;
    margin-top: 71px;
  }
  .video__video-text {
    padding: 0px 372px;
  }

}
