.video {
  @include container;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;

}

.video__video-title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $base-text-color;
  text-transform: uppercase;
  padding: 0 20px;
  margin-top: 33px;
  margin-bottom: 26px;
}

.video__video-text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  padding: 0 36px 0 39px;
  margin-bottom: 35px;

}

.video__video-player-wrapper {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  height: 201px;
  margin-bottom: 66px;
  background: url(../img/video-mobile@1x.jpg) 0 0 no-repeat;
}

/*
.video__time-line {
  width: 280px;
  height: 45px;
  background-color: rgba(83, 79, 76, .6);
}
*/

.video__control-panel {
  position: relative;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__control-panel::after {
  content: '';
  position: absolute;
  width: 235px;
  height: 3px;
  top: 22px;
  left: 23px;
  background-color:rgba(255, 255, 255, 0.2);
}

.video__control-panel::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 18px;
  left: 57px;
  background-color: white;
  cursor: pointer;
}

.video__control-panel-second {
  position: absolute;
  content: '';
  top: 202px;
  left: 20px;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  font-size: 0;
}

.video__control-panel-second .video__icon-replay {
  position: absolute;
  width: 16px;
  height: 20px;
  top: 21px;
  left: 26px;
  cursor: pointer;
  background: url("../img/icon-replay-mob.svg") 0 0 no-repeat;
  &:hover {
    background: url("../img/icon-video-replay.svg") 0 0 no-repeat;
  }
  &:active {
    opacity: 0.3;
  }
}

.video__control-panel-second .video__icon-subtitles {
  position: absolute;
  width: 32px;
  height: 20px;
  top: 22px;
  right: 73px;
  cursor: pointer;
  background: url("../img/icon-subtitles-mob.svg") 0 0 no-repeat;
  &:hover {
    background: url("../img/icon-video-subtitles.svg") 0 0 no-repeat;
  }
  &:active {
    opacity: 0.3;
  }
}

.video__control-panel-second .video__icon-fullscreen {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../img/icon-fullscreen-mob.svg") 0 0 no-repeat;
  &:hover {
    background: url("../img/icon-video-fullscreen.svg") 0 0 no-repeat;
  }
  &:active {
    opacity: 0.3;
  }
}

.video__control-panel .video__icon-replay {
  display: none;
  }

  .video__control-panel .video__icon-subtitles {
    display: none;
  }
  .video__control-panel .video__icon-fullscreen {
    display: none;
  }


@media #{$tablet-widths} {
  .video {
    margin-bottom: 0;
  }

  .video__video-player-wrapper {
  width: 648px;
  height: 499px;
  background: url(../img/video-tablet.jpg) top center no-repeat;
  padding: 0 60px;
  margin-bottom: 77px;
  }

  .video__video-title {
    font-size: 30px;
    line-height: 26px;
    padding: 0 60px;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 30px;
  }

  .video__video-text {
    padding: 0 163px;
    text-align: center;
    margin-bottom: 73px;
  }

  .video__control-panel {
    width: 648px;
    height: 93px;
    content: "";
    display: table;
    clear: both;
  }

  .video__control-panel .video__icon-replay {
  display: block;
  float: left;
  width: 16px;
  height: 20px;
  margin-top: 36px;
  margin-right: 133px;
  margin-left: 35px;
  cursor: pointer;
  background: url("../img/icon-reply-alt.svg") 0 0 no-repeat;
    &:hover {
      opacity: 0.3;
    }
    &:active {
      opacity: 1;
      background: url("../img/icon-replay-mob.svg") 0 0 no-repeat;
    }
  }

  .video__control-panel .video__icon-subtitles {
    display: block;
    float: right;
    width: 32px;
    height: 20px;
    margin-right: 31px;
    cursor: pointer;
    margin-top: 37px;
    background: url("../img/icon-subtitles-alt.svg") 0 0 no-repeat;
    &:hover {
      opacity: 0.3;
    }
    &:active {
      opacity: 1;
      background: url("../img/icon-subtitles-mob.svg") 0 0 no-repeat;
    }
  }
  .video__control-panel .video__icon-fullscreen {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 37px;
    margin-right: 41px;
    background: url("../img/icon-fullscreen-alt.svg") 0 0 no-repeat;
    &:hover {
      opacity: 0.3;
    }
    &:active {
      opacity: 1;
      background: url("../img/icon-fullscreen-mob.svg") 0 0 no-repeat;
    }
  }

  .video__control-panel::after {
    width: 388px;
    top: 46px;
    left: 93px;
  }

  .video__control-panel::before {
    top: 43px;
    left: 205px;
  }

  .video__control-panel-second {
    display: none;
  }
}

@media #{$desktop-widths} {
  .video__video-player-wrapper {
  width: 800px;
  height: 500px;
  background: url(../img/video-desktop.jpg) top center no-repeat;
  padding: 0 200px;
  margin-bottom: 119px;
  }
  .video__video-title {
    padding: 0 186px 0 186px;
    margin-top: 71px;
  }
  .video__video-text {
    padding: 0px 372px;
  }

  .video__control-panel {
    width: 800px;
  }

  .video__control-panel::after {
    width: 540px;
  }

}
